[Unit]
Description=kubackup_server
Documentation=https://kubackup.cn
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/kubackup_server
Restart=always
RestartSec=5
WorkingDirectory=/usr/local/bin/kubackup_server
ReadWritePaths=~/.kubackup

[Install]
WantedBy=multi-user.target

